/* Home */
#home {
    background:rgb(0, 101, 219);
    background: linear-gradient(90deg, rgb(0, 101, 219) 50%, rgb(0, 212, 255, 1) 100%);
    min-height: 500px;
}

/* Cards */
.card {
    transition: all 0.5s ease; 
    margin-top: 15px;
}

.card:hover {
    cursor: pointer;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}

/* Form */
.form {
    background: rgb(0, 101, 219);
    background: linear-gradient(90deg, rgb(0, 101, 219) 30%, rgba(0, 212, 255, 101));
}

/* AI */
.create {
    cursor: pointer;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    transition: color 0.3s ease;
}

.create a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Ensure the link inherits the text color */
}

.create:hover {
    color: white;
}